.footer__misc-list-item {
  margin: 0 0 32px 0;
}

.footer__misc-list-item:last-child {
  margin-bottom: 48px;
}

@media screen and (min-width: 640px) {
  .footer__misc-list-item {
    margin: 0 18px 0 0;
  }

  .footer__misc-list-item:last-child {
    margin: 0;
  }
}
