@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-Black.woff2?v=3.15") format("woff2"),
         url("Inter-Black.woff?v=3.15") format("woff");
}

.place__title {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  color: #fff;
  padding: 0 0 0 16px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.10;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 1.06;
  }
}

@media screen and (min-width: 1280px) {
  .place__title {
    font-size: 72px;
    line-height: 1.06;
  }
}
