@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("Inter-Regular.woff2?v=3.15") format("woff2"),
    url("Inter-Regular.woff?v=3.15") format("woff");
  }

.footer__author {
  margin: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  color: #FFFFFF;
}
