@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-Black.woff2?v=3.15") format("woff2"),
         url("Inter-Black.woff?v=3.15") format("woff");
  }

.lead__title {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #fff;
  margin: 0 auto 32px;
  max-width: 720px;
}
