@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("Inter-Regular.woff2?v=3.15") format("woff2"),
    url("Inter-Regular.woff?v=3.15") format("woff");
  }

.footer__misc-list-link {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  color: #fff;
  text-decoration: none;
  transition: opacity .5s ease-out;
}

.footer__misc-list-link:hover {
  opacity: 0.8;
}
