.footer__misc-list-link {
  font-family: 'Inter-Regular', 'Arial', 'Helvetica', sans-serif;
  font-size: 24px;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  transition: opacity .5s ease-out;
}

.footer__misc-list-link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 670px) {
  .footer__misc-list-link {
    font-size: 16px;
    line-height: 1.12;
  }
}
