@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-Black.woff2?v=3.15") format("woff2"),
         url("Inter-Black.woff?v=3.15") format("woff");
  }

.cover__title {
  margin: 0 0 16px 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  text-align: center;
  max-width: 288px;
  color: #fff;
  position: relative;
  cursor: pointer;
}

@media screen and (min-width: 670px) {
  .cover__title {
    margin: 0 0 32px 0;
    font-size: 72px;
    line-height: 1.06;
    max-width: 560px;
  }
}
