.intro__title {
  padding: 0;
  margin: 0 0 40px;
  font-family: 'Inter-Black', 'Arial', 'Helvetica', sans-serif;
  font-size: 32px;
  line-height: 1.09;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .intro__title {
    font-size: 54px;
    line-height: 1.07;
    color: #fff;
    white-space: nowrap;
  }
}
